@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&family=Poppins:ital@0;1&display=swap');

.background {
  background-image: url("./IMG-20230925-WA0003.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.wheather {
  font-family: 'Mooli', sans-serif;
  padding-top: 100px;
  padding-left: 20px;
  font-weight: 900;
  font-size: 70px;
  color: #fff;
}

.Inputcls {
  margin-top: 10px;
  margin-left: 30px;
  border: none;
  font-size: 20px;
  border-radius: 4px;
  font-family: 'Mooli', sans-serif;
  width: 24vw;
  height: 3vw;
}

.submit{
  background-color: orange;
}

.getdata{
  color: #fff;
  font-size: 200px;
}
.textdata{
  color: beige;
  font-size: 50px;
}
.temp{
  color: beige;
  font-size: 20px
}